._0d294369 { background-color: rgb(229, 239, 240); border: initial; color: rgb(0, 97, 105); font-size: 1.4rem; font-weight: 700; height: 3.7rem; width: 100%; }
._0d294369:hover { background-color: rgb(206, 215, 216); }
.e9b7ff2f { height: 8rem; width: 8rem; }
.ee213465 { gap: 1.6rem; height: 100%; padding: 3.2rem 1.6rem 2.4rem; }
._46c135c2 { color: rgb(224, 0, 0); gap: 0.4rem; justify-content: flex-start; }
.a3ba63fb { width: calc(100% - 8.4rem); }
._19c2aef3 { bottom: 0px; left: 0px; overflow: hidden; position: fixed; right: 0px; }
._19c2aef3, .cf6012d4 { background-color: rgb(255, 255, 255); border-radius: 2.8rem 2.8rem 0px 0px; }
.cf6012d4 { box-shadow: rgba(0, 0, 0, 0.1) 0px -0.2rem 0.8rem 0px; display: flex; flex-direction: column; padding: 1rem 1.6rem calc(1.2rem + env(safe-area-inset-bottom)); }
.a5d5d8d5, .cf6012d4 { overflow: visible; }
._338c7ea0 { background: transparent; inset: 0px; position: fixed; transform: translateZ(10rem); transition: background-color 0.25s linear; z-index: 1001; }
div.f1477a7b { background: rgba(34, 34, 34, 0.9); }
._6c8e41f7 { background-color: rgb(255, 255, 255); display: flex; flex-direction: column; height: 100%; left: 0px; position: fixed; right: 0px; top: 0px; will-change: transform, transition; }
._6c8e41f7.d43d9bd2 { box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 8px 0px; }
._7ca3a6c5, div._3cab8e2f { touch-action: none; }
._28d409e4, div._3cab8e2f { overflow: hidden; }
._3ba89474 { flex-direction: column; justify-content: center; }
._3ba89474, ._4771819a { align-items: center; display: flex; }
._4771819a { background-color: rgb(248, 249, 251); justify-content: space-between; margin-bottom: 2rem; padding: 3.6rem; position: relative; width: 100%; }
._3d93bc79 { position: absolute; right: 0px; top: 0px; fill: rgb(224, 224, 224); stroke: rgb(224, 224, 224); stroke-width: 1.5px; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; height: 1rem; margin-right: 1.6rem; margin-top: 1.6rem; vertical-align: middle; }
._3d93bc79:hover { cursor: pointer; }
._3d93bc79:active, ._3d93bc79:focus { outline: none; }
._9b3b9836 { border: 1px solid rgb(224, 224, 224); box-shadow: rgba(0, 0, 0, 0.1) 0px -0.6rem 1rem 0px; justify-content: center; margin: auto; padding: 0px; }
._1d3342e4 { bottom: 0px; left: 0px; position: sticky; right: 0px; z-index: 4; }
._9bf62559 { align-items: center; display: flex; justify-content: space-between; padding: 3.6rem 0px; width: 120rem; }
@media (max-width: 1280px) {
  ._9bf62559 { width: 110rem; }
}
@media (max-width: 1200px) {
  ._9bf62559 { justify-content: space-around; width: 100%; }
}
._7ec96e75 { display: flex; }
._7ec96e75 > button { font-size: 1.792rem; height: 4.8rem; width: 22rem; }
@media (max-width: 1200px) {
  ._7ec96e75 > button { font-size: 1.596rem; height: 4rem; width: 16rem; }
}
._136b8529 { fill: rgb(224, 0, 0); height: 6rem; width: 6rem; }
@media (max-width: 1200px) {
  ._136b8529 { height: 4.8rem; width: 4.8rem; }
}
.f49caec5 { font-size: 1.792rem; text-align: center; }
@media (max-width: 1200px) {
  .f49caec5 { font-size: 1.596rem; }
}
._6f3e4f8f { margin-bottom: 0px; padding: 2rem; }
.b2c3cb6c { height: 4.9rem; width: 4.9rem; fill: rgb(224, 0, 0); flex-grow: 1; }
._35b63e15 { flex-grow: 3; font-size: 1.792rem; line-height: 2.1rem; text-align: center; }
.b52e998b { display: flex; flex-grow: 2; }
.b52e998b > button { font-size: 1.4rem; height: 3.5rem; width: 16rem; }
._1bc34171 { display: flex; justify-content: center; }
@media (max-width: 768px) {
  ._1bc34171 > button { font-size: 1.19rem; width: 100%; }
}
.b885c8ed { background-color: rgb(255, 255, 255); border-top-width: medium; border-top-style: none; border-top-color: currentcolor; display: flex; flex-direction: column; font-size: 1.6rem; justify-content: center; padding: 2.4rem 2rem 2rem; }
.f843b426 { display: inline-block; height: 4.6rem; width: 100%; }
.af0a26df { font-size: 2rem; font-weight: 700; margin-top: 1.6rem; text-align: center; }
._5cb14db2 { color: rgb(224, 224, 224); font-size: 1.4rem; margin-top: 2.4rem; text-align: center; }
._5cb14db2 p { margin-bottom: 0px; margin-top: 1.6rem; }
.aea2378b { background-color: rgb(0, 97, 105); border-width: medium; border-style: none; border-color: currentcolor; border-image: none; border-radius: 0.4rem; color: rgb(255, 255, 255); cursor: pointer; display: block; font-size: 1.3rem; font-weight: 700; height: 3.4rem; letter-spacing: 0.5px; margin-left: auto; margin-right: auto; margin-top: 2rem; text-transform: uppercase; width: 14rem; }
.aea2378b:active, .aea2378b:focus { outline: none; }
.aea2378b:hover { background-color: rgb(0, 87, 95); }
@media (max-width: 768px) {
  .aea2378b { width: 100%; }
}
.bea97479 { align-items: center; border-radius: 0.8rem; cursor: pointer; display: inline-flex; justify-content: center; text-decoration: inherit; white-space: nowrap; }
.bea97479:active, .bea97479:focus { outline: none; }
.ba8b19a8, .decfa350 { border: 0.1rem solid rgb(0, 97, 105); }
.ba8b19a8 { background-color: rgb(255, 255, 255); border-radius: 0.8rem; color: rgb(0, 97, 105); font-size: 1.4rem; font-weight: 700; margin-right: 2rem; }
.ba8b19a8:last-child { margin-right: 0px; }
.ba8b19a8 { height: 3.7rem; min-width: 14.4rem; }
.ba8b19a8:hover { background-color: rgb(252, 252, 252); }
.c10075a1 { background-color: rgb(0, 97, 105); color: rgb(255, 255, 255); margin-right: 0.8rem; min-width: 16.8rem; }
.c10075a1:hover { background-color: rgb(0, 87, 95); }
._818a826b { border-top: 0.1rem solid rgb(224, 224, 224); display: flex; flex-direction: column; margin-top: 1.5rem; padding-top: 1.5rem; }
.ebc2577b { color: rgb(70, 76, 85); font-size: 1.4rem; margin-bottom: 1.6rem; margin-top: 0.8rem; text-align: center; }
._02eab0d6 { display: flex; justify-content: center; }
@media (max-width: 768px) {
  ._02eab0d6 > button { font-size: 1.19rem; width: 100%; }
}
.fddbcab3 { display: flex; justify-content: center; }
@media (max-width: 768px) {
  .fddbcab3 > button { font-size: 1.19rem; min-width: 12rem; }
}